# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs and local outputs
*.log
tmp/

# Model artifacts
models/mobilenetv2/*
!models/mobilenetv2/.gitkeep
models/efficientnetb0/*
!models/efficientnetb0/.gitkeep

# Data (keep folder structure only)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
